apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  labels:
    app: client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        # L'image sera mise à jour par Jenkins.
        image: iheb1603/monapp-client:latest 
        # Le client n'a besoin que d'accéder au serveur via le Service.
